<form #validation="ngForm" (ngSubmit)="login(validation)">

<div class="presentation">
<h1>Sing In</h1>
<p>Insira suas credenciais para acessar sua conta</p>
</div>

<div class="form-group-email">
    <input type="email" class="email" name="email" placeholder="Informe seu e-mail" #email="ngModel" ngModel email="true" required>
</div>
<div *ngIf="email.invalid" class="alert alert-danger">
    Error
</div>

<div class="form-group-password">
<input type="password" class="password" name="password" placeholder="Informe sua senha" ngModel minlength="6" maxlength="6" required>
</div>


<div class="click">
    <input type="submit" class="submit" value="Entrar">
    <p>Esqueceu sua senha <a routerLink="/redefinir">Redefinir senha</a></p>
</div>

</form>
