.fixed {
    text-align: center;
    height: 50px;
    width: 300px;
    position: fixed;
    bottom: 60px;
    right: 32px;
   }

.redefinir-button{
    color: white;
    background-color: rgb(56, 119, 255);
    height: 2rem;
    width: 13rem;
    border-radius: 0.105cm;
}