<app-menu></app-menu>
<form>

<input type="text" [(ngModel)]="nome" name="nome" placeholder="nome">
<input type="text" [(ngModel)]="estacao" name="estacao" placeholder="estacao">
<input type="text" [(ngModel)]="orcamento" name="orcamento" placeholder="orcamento">
<input type="text" [(ngModel)]="responsavel" name="responsavel" placeholder="responsavel">
<input type="text" [(ngModel)]="marca" name="marca" placeholder="marca">
<input type="text" [(ngModel)]="ano" name="ano" placeholder="ano">

<input type="submit" (click)="post()" name="botao" value="botao">
</form>